# MongoDB Configuration
MONGODB_URI=mongodb+srv://user_create_and_update:<PASSWORD>@cluster0.xxxxx.mongodb.net/gestion_citas_medicas?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=tu_clave_secreta_muy_segura_aqui_cambiar_en_produccion

# Server Configuration
PORT=3000
NODE_ENV=development
